
body{
    background-color: rgb(32, 32, 32);
    font-family: Cambria,
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
}
h1{
    color: cyan;
    background-color: yellow;
}
h2{
    color: rgb(250, 240, 228);
    background-color: rgb(83, 68, 71);
}
.cap1 p{
    text-align: left;
}
.cap2 p{
    text-align: right;
    color: rgb(0, 0, 0);
}